// Add or remove border for develop design
div {
    @if $dev == true {
        border: 2px solid orange; 
    }
}

body {
    
}

.card {
    width: $card-width;
    height: $card-height;

    &-background {
        @include size-inherit;
    }
    &-image {
        @include size-inherit;

        position: relative;

           img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
    &-date {
        position: absolute;
        z-index: 9;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background-color: $color-primary;
        top: 1rem;
        right: 1rem;
        text-align: center;
    }
}