// Add or remove border for develop design
div {
    @if $dev == true {
        border: 2px solid orange; 
    }
}

body {
    
}

.card {
    width: $card-width;
    height: $card-height;

    &-background {
        @include size-inherit;
    }
    &-image {
        @include size-inherit;
           img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
    &-date {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background-color: $color-primary;
        color: $color-text-fade;
        text-align: center;
        div {
            border-color: pink;
            //font-size: $font-size*.75;
        }
        .test {
            //font-size: $font-size*.75;
        }
        
    }
}