// Add or remove border for develop design
div, section, article, h1, h2{
    @if $dev == true {
        border: 2px solid orange; 
    }
}

body {
    
}

.card {
    width: $card-width;
    height: $card-height;

    margin: 2rem auto;

    box-shadow: 0 0 .5rem .05rem $color-primary;

    &-background {
        // need this for image fit all the card
        @include size-inherit;

        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            padding: 0 $margin;

            height: 3rem;

            background-color: red;
    
            position: relative;
            bottom: 3rem;
            //left: 0;
            
            div {
                padding: .5rem;
            }
        }
    }
    &-image {
        // need this for image fit all the card
        @include size-inherit;

        position: relative;

           img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
    &-date {
        // put on front
        position: absolute;
        z-index: 1;

        // form and size
        border-radius: 50%;
        width: 4rem;
        height: 4rem;

        background-color: $color-primary;

        // positionning in card background
        top: $margin;
        right: $margin;

        text-align: center;

        // vertical correction of text
        box-sizing: border-box;
        padding-top: .2rem;
    }

    .card-infos {
        background-color: $color-tertiary;

        // height relatively to the card
        height: 75%;

        box-sizing: border-box;
        padding: 0 $margin 0;

        // for positioning the button
        position: relative;

        .button-fake {
            // place on top
            position: absolute;
            top: -1.75rem;

            padding: .5rem;

            background-color: $color-primary;
        }
    }


}