//@import 'variables';

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: $font-size;
    color: $color-text;
    letter-spacing: .15rem;
}

h1 {
    font-size: $font-size * 2;
    color: $color-primary;
}

h2 {
    font-size: $font-size * 1.5;
    color: $color-secondary;
}

.infos {
    color: $color-text-fade;
}

.card-date {
    font-size: $font-size * 1.1;
    color: $color-tertiary;
}

.button-fake {
    color: $color-tertiary;
}

.card {
    footer {
        font-size: $font-size * .9;
        color: $color-text-fade;
    }
}