.card{
    transition: box-shadow $transition-time;

    .card-article-header {
        .card-image-main {
            transition: transform $transition-time,
                        opacity $transition-time;
        }
    }

    .card-article-main {
        transition: height $transition-time;

        p {
            transition: opacity $transition-time;
        }
    }

    &:hover {
        box-shadow: 0 0 1rem .05rem $color-primary;

        .card-article-header {
            .card-image-main {
                transform: scale($image-resizing,$image-resizing);
                opacity: .5;
            }
        }

        .card-article-main {
            // height relatively to the card
            height: 55%;

            p {
                // show when up
                opacity: 1;
            }
        }
    }
}