// Add or remove border for develop design
div, section, article, h1, h2, main, footer, header{
    @if $dev == true {
        border: 2px solid orange; 
    }
}

.card {
    // need this for positioning childs
    position: relative;

    width: $card-width;
    height: $card-height;

    margin: 2rem auto;

    // make backgroung orange to mix with image when hover
    background-color: $color-secondary;

    box-shadow: 0 0 .5rem .05rem $color-secondary;

    // hide all that overflow this box
    overflow: hidden;

    header {
        // need this for image fit all the card
        @include size-inherit;

        // place behind
        z-index: 0;
    }

    section {
        // place in middle layer
        z-index: 1;

        // position on bottom relative from 'card' parent
        position: absolute;
        bottom: 0;

        background-color: $color-tertiary;

        // height relatively to the card
        height: 35%;

        box-sizing: border-box;
        padding: 0 $margin 0;

        .button-fake {
            // place on top
            position: absolute;
            top: -1.75rem;

            padding: .5rem;

            background-color: $color-primary;
        }

        p {
            // hide when down
            opacity: 0;
        }
    }

    footer {
        // position on bottom relative from 'card' parent
        position: absolute;
        bottom: 0;

        // place layer on top
        z-index: 2;

        display: flex;
        flex-direction: row;
        align-items: center;

        box-sizing: border-box;
        padding: 0 $margin;

        height: 3rem;
        width: 100%;

        background-color: $color-tertiary;
        
        div {
            margin: .5rem 1rem .5rem 0;

            // align icons with text
            display: flex;
            align-items: center;
        }

        // add eye icon before text
        div:nth-child(1)::before {
            font-family: 'Material Icons';
            content: "visibility";
        }

        // add comment icon before text
        div:nth-child(2)::before {
            font-family: 'Material Icons';
            content: "forum";
        }
    }
}


.card {
    &-image-main {
        // need this for image fit all the card
        @include size-inherit;

        object-fit: cover;
    }
    &-date {
        // put on front
        position: absolute;
        z-index: 1;

        // form and size
        border-radius: 50%;
        width: 4rem;
        height: 4rem;

        background-color: $color-primary;

        // positionning in card background
        top: $margin;
        right: $margin;

        text-align: center;

        // corretly align day and month
        display: flex;
        flex-direction: column;
        justify-content: center;

        // fine vertical correction of text
        box-sizing: border-box;
        padding-bottom: .4rem;
    }

    &-text {
        overflow: hidden;
    }
}