
$dev : true;

// sizes
$font-size: 1.5rem;
$card-width: 25rem;
$card-height: $card-width*1.6;

// colors
$color-primary: rgb(146, 25, 25);
$color-secondary: rgb(201, 101, 35);
$color-text: rgb(51, 43, 43);
$color-text-fade: rgb(131, 103, 103);
